/**
 * {{ msgBean.name }}消息
 * Created by auto tool.
 */

'use strict';

module.exports = function (){
  this.init = function(data){
    {% for field in msgBean.fields -%}
    this.{{ field.name }} = data.{{ field.name }} || {% if 'string'==field.type %}''{% else %}0{% endif %};
    {% endfor %}
  };

  {% for field in msgBean.fields %}
  this.set{{ field.name.capitalize()  }} = function({{ field.name }}){
    this.{{ field.name }} = {{ field.name }};
  };
  {% endfor %}
};